*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/image.png);
}

.escolha{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  border: solid 2px #00ffe1;
  box-shadow: 0 0 25px #00ffe1aa;
  text-decoration: none;
  font-style: normal;
  color: white;
  user-select: none;
}