* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.final {
    position: relative;
    left: 530px;
    top: 182px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 3px black;
    height: 540px;
    width: 540px;
    color: white;
    box-shadow: 0 0 25px #00ffe1aa;
}


#tFinal {
    position: relative;
    left: 159px;
    bottom: 150px;
    font-size: 30px;
}


#pFinal {
    position: relative;
    right: 92px;
    top: 28px;
    font-size: 15px;
}    


#aFinal {
    position: relative;
    top: 204px;
    right: 250px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0) ;
    border-style: hidden;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px white;
}


body {
    font-family: 'Press Start 2P', monospace;
    user-select: none;
}