* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.final {
    position: relative;
    left: 415px;
    top: 125px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: aqua;
    border: solid 2px black;
    height: 500px;
    width: 500px;
}